{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
    {% endblock %}
</head>
<body>
    {% block content2 %}
    <div class="flex justify-center flex-col">
        <div class="flex justify-center"> 
    <h1>Car List</h1>
</div>
    <br>
    <div class="flex justify-center"> 
    <ul>
        {% for car in cars %}
            <li>
                {{ car.year }} {{ car.brand }} {{ car.model }} - {{ car.version }} -    <a href="{% url 'car_ratings' %}" class="underline">{{ car.note }}⭐</a> 
                <a href="{% url 'car_detail' car.id %}" class="font-semibold text-indigo-700">Details</a>
            </li>
        {% endfor %}
        
    </ul>
</div>
</div>
    {% endblock %}
</body>
</html>

